footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-top: 1.5px solid $dark-grey;
  height: auto;
  min-height: 72px;
  padding: 24px;
  text-align: center;

  .footer-credits {
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.3px;
  }
}
