// Colors
//----------------------------------------

$black: #1c1c1c;
$dark-black: #080808;
$grey: #3e3e3e;
$light-grey: #eaeaea;
$off-white: #f3f3f3;
$blue: #2597f4;
$blue-tint: rgba(37, 151, 244, 0.1);
$dark-blue: #0b76da;

// Status
//----------------------------------------

$highlight: $blue;
