// Colors
//----------------------------------------

/* Neutrals */
$black: #1c1c1c;
$dark-black: #080808;
$dark-grey: #3e3e3e;
$grey: #747474;
$light-grey: #eaeaea;
$off-white: #f3f3f3;

/* Primary */
$blue: #2597f4;
$blue-tint: rgba(37, 151, 244, 0.1);
$dark-blue: #0b76da;

/* Secondary */
$purple: #7638fa;

// Status
//----------------------------------------

$highlight: $blue;
