// Colors
//----------------------------------------

$black: #1c1c1c;
$dark-black: #080808;
$light-grey: #e5e5e5;
$blue: #2597f4;
$dark-blue: #0b76da;

// Status
//----------------------------------------

$highlight: $blue;
