.about_hero {
    margin: auto;
<<<<<<< HEAD
    max-width: 1080px;
=======
    max-width: 960px;
>>>>>>> d25e488f366af6a1f0b54afd6068b5d4c0a1f89f

    .about_hero_title {
        margin-top: 24px;
        margin-bottom: 48px;
        color: white;
    }

    #about {
        height: 520px;
        margin-bottom: 80px;
        background-image: url("../images/test.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
    }

    .about_bio {
        margin: auto;
<<<<<<< HEAD
        max-width: 800px;
=======
        max-width: 760px;
>>>>>>> d25e488f366af6a1f0b54afd6068b5d4c0a1f89f

        .about_bio_title {
            margin-bottom: 24px;
        }

        .about_bio_content {
            margin-bottom: 32px;
            font-size: 18px;
<<<<<<< HEAD
            line-height: 1.5;
=======
            line-height: 30px;
>>>>>>> d25e488f366af6a1f0b54afd6068b5d4c0a1f89f
            font-weight: 300;
            color:  white;
        }
    }
}