.about_hero {

    .about_hero_title {
        margin-top: 24px;
        margin-bottom: 48px;
        color: white;
    }

    .about_hero_img {
        height: 560px;
        border-radius: 20px;
    }
}