@import 'components/buttons';
@import 'components/links';
@import 'components/navbar';
@import 'components/footer';

// Dividers
//----------------------------------------

.divider-horizontal-md {
  margin: 0 auto 120px auto;
  width: 960px;
  height: 1px;
  background-color: $dark-grey;
}
