@import 'components/buttons';
@import 'components/links';
@import 'components/navbar';
@import 'components/footer';

// Dividers
//----------------------------------------

.divider-horizontal-lg {
  margin: 0 auto 120px auto;
  border-radius: 20px;
  width: 1080px;
  height: 1.5px;
  background-color: $dark-grey;
}
