/* FRANK RUHL LIBRE */

// Frank Ruhl Libre - Light
@font-face {
  font-family: 'Frank Ruhl Libre';
  src: local('FrankRuhlLibre-Light'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Light.woff2') format('woff2'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Light.woff') format('woff'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Frank Ruhl Libre - Regular

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: local('FrankRuhlLibre-Regular'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Regular.woff2') format('woff2'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Regular.woff') format('woff'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Frank Ruhl Libre - Medium

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: local('FrankRuhlLibre-Medium'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Medium.woff2') format('woff2'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Medium.woff') format('woff'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Frank Ruhl Libre - Bold

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: local('FrankRuhlLibre-Bold'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Bold.woff2') format('woff2'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Bold.woff') format('woff'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Frank Ruhl Libre - Black

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: local('FrankRuhlLibre-Black'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Black.woff2') format('woff2'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Black.woff') format('woff'),
  url('../fonts/FrankRuhlLibre/FrankRuhlLibre-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* METROPOLIS */

// Metropolis - Extra Light
@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-ExtraLight'),
  url('../fonts/Metropolis/Metropolis-ExtraLight.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-ExtraLight.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

// Metropolis - Extra Light Italic

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-ExtraLightItalic'),
  url('../fonts/Metropolis/Metropolis-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

// Metropolis - Light
@font-face {
  font-family: 'Metropolis'; 
  src: local('Metropolis-Light'),
  url('../fonts/Metropolis/Metropolis-Light.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-Light.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

// Metropolis - Light Italic

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-LightItalic'),
  url('../fonts/Metropolis/Metropolis-LightItalic.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-LightItalic.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

// Metropolis - Regular
@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-Regular.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Metropolis - Regular Italic

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-RegularItalic'),
  url('../fonts/Metropolis/Metropolis-RegularItalic.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-RegularItalic.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

// Metropolis - Medium
@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-Medium'),
  url('../fonts/Metropolis/Metropolis-Medium.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-Medium.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

// Metropolis - Medium Italic

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-MediumItalic'),
  url('../fonts/Metropolis/Metropolis-MediumItalic.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-MediumItalic.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

// Metropolis - SemiBold
@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-SemiBold'),
  url('../fonts/Metropolis/Metropolis-SemiBold.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-SemiBold.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

// Metropolis - SemiBold Italic

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-SemiBoldItalic'),
  url('../fonts/Metropolis/Metropolis-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

// Metropolis - Bold
@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-Bold'),
  url('../fonts/Metropolis/Metropolis-Bold.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-Bold.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Metropolis - Bold Italic

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis-BoldItalic'),
  url('../fonts/Metropolis/Metropolis-BoldItalic.woff2') format('woff2'),
  url('../fonts/Metropolis/Metropolis-BoldItalic.woff') format('woff'),
  url('../fonts/Metropolis/Metropolis-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
