@import 'fonts/fonts';
@import 'modules/animations';
@import 'modules/variables';
@import 'modules/type';
@import 'components';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $dark-black;
  font-family: 'Metropolis', sans-serif;
  color: $light-grey;
}

a {
  display: inline;
  color: white;
  text-decoration: none;

  /*
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-family: "Metropolis", sans-serif;
    */
}

p {
  margin: auto;
  max-width: 760px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.hero_image {
  height: 520px;
  width: 960px;
  margin: 120px auto 80px auto;
  border-radius: 16px;
}

// Link styling (reserved for later)

/* .landing_hero_link {
    margin-bottom: 286px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.15px;
    text-decoration: none;
    } */
