@import 'fonts/fonts';
@import 'modules/animations';
@import 'modules/variables';
@import 'modules/type';
@import 'components';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: $dark-black;
  font-family: 'Metropolis', sans-serif;
  color: $light-grey;
}

a {
  display: inline;
  text-decoration: none;
  color: $light-grey;
}

p {
  margin: 0 auto 32px auto;
  max-width: 760px;
}

.hero-image {
  margin: 80px auto;
  border-radius: 16px;
  height: 520px;
  width: 960px;
}

.dot-colored {
  color: $blue;
}

// Link styling (reserved for later)

/* .landing_hero_link {
    margin-bottom: 286px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.15px;
    text-decoration: none;
    } */
