@import 'fonts/fonts';
@import 'modules/animations';
@import 'modules/variables';

html {
    scroll-behavior:smooth;
}

body {
    background-color: $black;
    font-family: "Metropolis", sans-serif;
    color: $light-grey;
}

a {
    display: block;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    font-family: "Metropolis", sans-serif;
    color: $light-grey;

    &:hover {
        opacity: 0.8;
    }
}