@import 'global';

.landing-container {
  margin: auto;
  max-width: 960px;

  // Hero section
  //----------------------------------------

  .landing-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 294px;

    .landing-hero-title {
      margin-top: 0px;
      margin-bottom: 24px;
      text-align: center;
      color: $neutral-9;
    }

    .landing-hero-subheading {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;

      .landing-hero-description {
        margin-top: 0px;
        font-weight: 400;
        text-align: center;

        .emoji-flag {
          position: relative;
          height: 18px;
        }
      }
    }

    .landing-hero-current-pos {
      display: flex;
      justify-content: center;
      margin-bottom: 294px;

      .gradient-wrapper {
        position: relative;
        border-radius: 12px;
        padding: 2px;
        border: solid 1px transparent;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          border-radius: inherit;
          background: linear-gradient(to right, $blue-2, $pink-2);
        }

        .landing-hero-current-pos-inner {
          display: flex;
          align-items: center;
          border-radius: 10px;
          padding: 12px 16px;
          background: $black;

          .img-wrapper {
            margin-right: 12px;
            max-width: 40px;
            max-height: 40px;
            border-radius: 8px;

            .company-avatar {
              width: 100%;
              height: 100%;
            }
          }

          .pos-details {
            text-transform: capitalize;

            .muted {
              color: $neutral-9;
            }
          }
        }
      }
    }

    /*
    .landing-hero-btn-list {
      display: flex;
      justify-content: center;
      margin-bottom: 284px;

      .btn-primary {
        margin-right: 8px;
      }

      .btn-secondary {
        margin-left: 8px;
      }
    }
    */

    .landing-scroll {
      position: relative;
      margin: 0px auto;
      width: 200px;
      height: 120px;
      padding: 10px;

      &:hover {
        .landing-scroll-link {
          color: $blue-2;

          .landing-scroll-wording .landing-scroll-path {
            stroke: $blue-2;
          }
        }
      }

      .landing-scroll-link {
        transition: all 0.15s ease-in-out;
        text-decoration: none;
        color: white;

        .landing-scroll-wording {
          height: 24px;
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;

          .landing-scroll-path {
            position: relative;
            transition: all 0.2s ease-in-out;
            top: -37px;
            right: 12px;
            stroke: #fff;
            stroke-width: 1.5;
            stroke-linecap: round;
            stroke-linejoin: round;
            fill: none;
            width: 224px;
            height: auto;

            .landing-scroll-path-rectangle {
              stroke-dasharray: 536;
              stroke-dashoffset: 536;
            }
          }
        }
      }
    }
  }

  // Projects section
  //----------------------------------------

  .landing-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;

    #project-a:hover {
      box-shadow: 0px 0px 40px 10px rgba(12, 134, 233, 0.3);
    }

    .landing-project-card {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.35s ease-in-out;
      margin-bottom: 40px;
      border-radius: 20px;
      width: 560px;
      height: 560px;
      padding: 40px;
      background-color: #0c86e9;

      &:hover {
        transform: scale(1.05);

        .landing-project-link-arrow {
          transform: translateX(8px);
        }
      }

      &:active {
        transform: scale(0.85);
      }

      .landing-project-description {
        max-width: 400px;

        .landing-project-icon-device {
          width: 64px;
          height: 64px;
        }

        .landing-project-title {
          margin-top: 16px;
          margin-bottom: 8px;
          color: white;
        }

        .landing-project-body {
          font-size: 18px;
          font-weight: 400;
          color: white;
        }

        .landing-project-link {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: white;

          .landing-project-link_text {
            margin-left: 0px;
            margin-bottom: 0px;
            margin-right: 8px;
            font-size: 18px;
            font-weight: 400;
            color: white;
          }

          .landing-project-link-arrow {
            transition: transform 0.3s ease-in-out;
          }
        }
      }
    }
  }

  // Contact section
  //----------------------------------------

  .landing-contact-container {
    margin-top: 240px;
    margin-bottom: 240px;
    text-align: center;

    .landing-contact-title {
      margin-top: 0px;
      margin-bottom: 24px;
      text-align: center;
    }

    .landing-contact-subheading {
      margin-top: 0px;
      margin-bottom: 48px;
      text-align: center;
    }

    .btn-secondary {
      display: inline-block;
    }
  }
}
