@import 'global';

// Hero section
//----------------------------------------

.project-hero {
  .project-hero-image {
    width: 1080px;
    height: 720px;
    background-image: url('../images/test.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

// Content section
//----------------------------------------

.project-container {
  overflow-x: hidden;
  margin-bottom: 240px;

  .project-summary {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 80px;

    .project-intro {
      display: flex;
      justify-content: space-between;
      margin-top: 0px;

      .project-summary {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 100px;
        width: 50%;
        text-align: left;

        .project-label {
          margin-bottom: 8px;
        }

        .project-specializations {
          margin-bottom: 24px;
          text-transform: uppercase;
          color: $grey;
        }

        .project-description {
          margin-bottom: 0px;
        }
      }

      .project-overview {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 100px;
        width: 30%;

        .project-overview-item {
          margin-bottom: 32px;

          .project-overview-item-label {
            margin-bottom: 8px;
            text-transform: uppercase;
            color: $grey;
          }

          .project-overview-item-title {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  // Write-up section
  //----------------------------------------

  .project-content {
    margin: 0 auto;
    max-width: 800px;

    .project-section-details {
      margin-bottom: 24px;

      .project-section-label {
        margin-bottom: 8px;
        text-transform: uppercase;
        color: $blue;
      }

      .project-section-title {
        text-transform: uppercase;
      }
    }

    .project-section-text {
      margin-bottom: 120px;

      .project-section-text-body {
        margin-bottom: 0px;

        .project-section-text-subheading {
          margin-top: 32px;
          margin-bottom: 20px;
          color: $blue;
        }
      }
    }
  }
}

// Section divider
//----------------------------------------

.divider-horizontal-lg {
  margin-bottom: 120px;
}

// Individual components
//----------------------------------------

ul {
  margin: 16px auto 0 auto;
  list-style: none;
}

ul li::before {
  content: '\2022';
  color: $blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
