@import '../styles/fonts.scss';

// Breakpoints

@mixin mobile-up {
  @media (max-width: 767px) { @content; }
}
@mixin tablet-up {
  @media (min-width: 768px) { @content; }
}
@mixin laptop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin desktop-up {
  @media (min-width: 1600px) { @content; }
}

// Fonts

$font: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-header: 'Frank Ruhl Libre';

// Colors

$white: #fff;
$black: #000;


html, body {
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;

  @include desktop-up {
    width: 1440px;
    min-width: 1440px;
  }
  @include laptop-up {
    width: 960px;
    min-width: 960px;
  }
  @include tablet-up {
    width: 600px;
    min-width: 600px;
  }
  @include mobile-up {
    width: 320px;
    min-width: 320px;
  }
}